.box {
    border: 5px solid #000;
    width: 500px;
}

.item-img {
    width: 400px;
}

.main {
    display: flex;
    justify-content: center;
}

.tie {
    border: 8px solid green;
}

.win {
    border: 8px solid blue;
}

.lose {
    border: 8px solid red;
}